<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <p>MAIN.HANDLEBARS </p>
        <ul id="movList">
        {{#each listing}}
            <li>{{this.title}}</li>
        {{/each}}
        </ul>

    </body>
</html>